NEXT_PUBLIC_API_URL=NEXT_PUBLIC_API_URL

NEXTAUTH_URL=NEXTAUTH_URL
NEXTAUTH_SECRET=NEXTAUTH_SECRET

# Keep the original for server-side use (if needed)
GOOGLE_CLIENT_ID=GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=GOOGLE_CLIENT_SECRET

# Add this for client-side use
NEXT_PUBLIC_GOOGLE_CLIENT_ID=user_id
