SECRET_KEY=secret_key
DB_NAME=database_name
DB_USER=database_username
DB_PASSWORD=database_password
DB_HOST=localhost
DB_PORT=5432
EMAIL_HOST=smtp-relay.brevo.com
EMAIL_PORT=587
EMAIL_HOST_USER=email_user
EMAIL_HOST_PASSWORD=email_password
EMAIL_FROM=email_from_address
DEFAULT_FROM_EMAIL=default_email
FRONTEND_URL=https://your-frontend-url.com
DEBUG=False
GOOGLE_OAUTH2_CLIENT_SECRET=google_client_secret
GOOGLE_OAUTH2_REDIRECT_URI=https://your-frontend-url.com/auth/callback/google
GOOGLE_OAUTH2_CLIENT_ID=google_client_id
